<!-- flightDetails.ejs -->

<%- include('../includes/head.ejs') %>
</head>

<body class="h-100">
    <%- include('../includes/navigation.ejs') %>

    <main class="container h-75">
        <section class="flight-section">
            <div class="flight-details-container">
                <h2>Flight Details</h2>

                <div class="origin-destination">
                    <h3>Origin:</h3>
                    <p>City: <%= flight.origin.city.cityName %></p>
                    <p>Country: <%= flight.origin.country.countryName %></p>
                </div>

                <div class="origin-destination">
                    <h3>Destination:</h3>
                    <p>City: <%= flight.destination.city.cityName %></p>
                    <p>Country: <%= flight.destination.country.countryName %></p>
                </div>

                <div id="flightCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <% flight.ticketKeys.forEach((ticket, index) => { %>
                            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Ticket <%= index + 1 %></h5>
                                        <p class="card-text">Price: <%= ticket.price %> USD</p>
                                        <p class="card-text">Transfers: <%= ticket.transfers %></p>
                                        <p class="card-text">Airline: <%= ticket.airlineDetails.name %></p>
                                        <p class="card-text">Flight Number: <%= ticket.flightNumber %></p>
                                        <p class="card-text">Departure: <%= ticket.departureAt %></p>
                                        <p class="card-text">Return: <%= ticket.returnAt %></p>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#flightCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#flightCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <p>Currency: <%= flight.currency %></p>
            </div>
        </section>
    </main>

    <%- include('../includes/end.ejs') %>
