<%- include('includes/head.ejs') %>
</head>

    <body class="h-100">
        <%- include('includes/navigation.ejs') %>
        
        <div class="container h-75 d-flex justify-content-center align-items-center">
            <section class="invalid-login-section">
                <form class="form_border p-3 text-center">
                    <h1 class="big-heading mb-4"><%= error_header %></h1>
                    <img src="https://media4.giphy.com/media/aYpmlCXgX9dc09dbpl/200w.webp?cid=ecf05e47lqchjk113p9o4tphyvn4n88bh3iv6abay8wuyu2o&rid=200w.webp&ct=g" alt="Error Image" class="mb-4">
                    <h3 class="description mb-4"><%= error_description %></h3>
                    <a href="/" class="button colored-section md-4 btn  btn-customized">To Home Page</a>
                </form>
            </section>
        </div>

    <%- include('includes/end.ejs') %>